
// .container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
  
// }


@mixin proportional-box($a: 1, $b: $a) {
  position: absolute;
  top: 0; left: calc(50vw - #{$a/$b/2*100vh});
  width: $a/$b*100vh; height: 100vh;

  @media (max-aspect-ratio: (#{$a}/#{$b})) { 
    top: calc(50vh - #{$b/$a/2*100vw}); left: calc(50vh - #{$a/$b/2*100vw});
    width: 100vw; height: $b/$a*100vw;
  }
}


.card {
  // &>* {
  //   @include proportional-box(2,1);
  // }
  
  
  // position: fixed;
  font-family: Arial, 'Arial Narrow';
  max-width: 815px;
  max-height: 545px;
  border-radius: 20px;
  box-shadow: 10px 10px 2px grey;
  // max-width: 815px;
  background: url(/app/assets/id-bg.png);

  &__header{
    // position: absolute;
    // top: 0;

    display: flex;
    // flex-wrap: nowrap;
    background-color: #2476BA;
    letter-spacing: -1px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 20px 20px 0 0;
    >h2{
      color:#fff;
      text-transform: uppercase;
      font-weight: 900;
    }
  }

  &__body{
    display: grid;
    grid-template-columns: 1fr 1fr;

    font-family:'Arial Narrow';
    position: relative;
    &-image{
      // position: absolute;
      margin: 25px;
      #profile-image {border-radius: 10px;}
      // #signature {width: 10px; height:auto;}
    &-info{
      // position: absolute;
      top:0;
      right:0;
      list-style-type:unset;
    }
    
    
  }
}


  
  // // make card fixed and scale to screen size
  // $card-fixed: true;
  
  // @if $card-fixed {
  //   .card {
  //     position: fixed;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //     background-color: #fff;
  //     z-index: 999;
  //   }
  }